{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block header %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var initialLocaleCode = 'en';
        var localeSelectorEl = document.getElementById('locale-selector');

        var doubleClick = 0;
        var clickTimer = 0;

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap5',
            headerToolbar: {
                left: 'addEventButton dayGridMonth,timeGridWeek,timeGridDay,listMonth',
                center: 'title',
                right: 'today prev,next'
            },
            locale: initialLocaleCode, // the initial locale // the initial locale. if not specified, uses the first one
            buttonIcons: true, // show the prev/next text
            weekNumbers: true,
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            dayMaxEvents: true, // allow "more" link when too many events

            dayMaxEventRows: true,
            nowIndicator: true,
            selectable: true,
            unselectAuto: true,
            selectOverlap: true,
            // firstDay:1, // Sunday=0, Monday=1, Tuesday=2, etc.
            businessHours: [
                {% if global_business_hour %}
                    {% for business_hour in global_business_hour.current_business_hours %}
                        {
                            daysOfWeek: '{{ business_hour.workweek }}',
                            startTime: '{{ business_hour.start_time|date:"H:i" }}',
                            endTime: '{{ business_hour.end_time|date:"H:i" }}'   
                        },
                    {% endfor %}
                {% endif %}
            ],
            customButtons: {
				addEventButton: {
					text: '+',
					click: function() {
                        loadEventForm();
					}
				}
			},
            events: [
                {% for event in events %} 
                    {
                        objectId: "{{ event.reference }}",
                        title: "{{ event.name|safe }}",
                        start: "{{ event.datetimes.0|date:'Y-m-d' }}T{{ event.datetimes.0|date:'H:i:s' }}",
                        end: "{{ event.datetimes.1|date:'Y-m-d' }}T{{ event.datetimes.1|date:'H:i:s' }}",
                        allDay: {% if event.allDay %} true {% else %} false {% endif %},
                        backgroundColor: "{{ event.color_value }}",
                        extendedProps: {
                            eventType:'{{ event.type }}'
                        },
                    },
                {% endfor %}
            ],
            eventClick: function(info) {
                info.jsEvent.preventDefault(); // don't let the browser navigate

                if (info.event.url) {
                    // window.open(info.event.url);
                }
                info.el.style.borderColor = 'black'; // when clicked turn the border black
                console.log('Event Props', info.event.extendedProps);
                console.log('EventType', info.event.extendedProps.eventType);

                if (info.event.extendedProps.objectId) {
                    loadEventForm(objectId=info.event.extendedProps.objectId, undefined, undefined, undefined, undefined)
                }
            },
            select: function(info) {
                console.log('* SELECT *', info);
                
                let startDay = String(info.start.getDate()).padStart(2, '0');
                let startMonth = String(info.start.getMonth() + 1).padStart(2, '0');
                let startHours = String(info.start.getHours()).padStart(2, '0');
                let startMinutes = String(info.start.getMinutes()).padStart(2, '0');

                let endDay = String(info.end.getDate()).padStart(2, '0');
                let endMonth = String(info.end.getMonth() + 1).padStart(2, '0');
                let endHours = String(info.end.getHours()).padStart(2, '0');
                let endMinutes = String(info.end.getMinutes()).padStart(2, '0');
                
                startDate = info.start.getFullYear() + '-' + startMonth + '-' + startDay
                endDate = info.end.getFullYear() + '-' + endMonth + '-' + endDay
                startTime = startHours + ':' + startMinutes
                endTime = endHours + ':' + endMinutes
                
                _start = new Date(info.startStr);
                _start.setDate(_start.getDate() + 1);
                _end = new Date(info.endStr);

                if (info.allDay) {
                    if(_start.getDate() !== _end.getDate()){
                        console.log('Select and hold! allDay true');
    
                        loadEventForm(undefined, info.startStr, info.endStr, null, null)
                    }
                } else {
                    console.log('Select and allDay false');

                    loadEventForm(undefined, startDate, endDate, startTime, endTime)
                }
            },
            dateClick: function(info) {
                var singleClick = info.date.toUTCString();

                if(doubleClick==singleClick) {
                    console.log('Double-click!');

                    console.log('EVENT', info);

                    console.log('Date - ', info.date.toUTCString())
                    console.log('Only the Date - ', info.dateStr)
                    console.log('AllDay - ', info.allDay)

                    loadEventForm(undefined, info.dateStr, undefined, undefined, undefined)
                    
                    doubleClick = null;
                } else {
                    doubleClick=info.date.toUTCString();
                    clearInterval(clickTimer);
                    clickTimer = setInterval(function() {
                        doubleClick = null;
                        clearInterval(clickTimer);
                    }, 500);
                }
            },
        });
        calendar.render();

        // build the locale selector's options
        calendar.getAvailableLocaleCodes().forEach(function(localeCode) {
            var optionEl = document.createElement('option');
            optionEl.value = localeCode;
            optionEl.selected = localeCode == initialLocaleCode;
            optionEl.innerText = localeCode;
            localeSelectorEl.appendChild(optionEl);
        });
        // when the selected option changes, dynamically change the calendar option
        localeSelectorEl.addEventListener('change', function() {
            if (this.value) {
            calendar.setOption('locale', this.value);
            }
        });

        document.querySelector('style').textContent += "@media screen and (max-width:767px) { .fc-toolbar.fc-header-toolbar {flex-direction:column;} .fc-toolbar-chunk { display: table-row; text-align:center; padding:5px 0; } }";
    });
</script>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Calendrier</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <a href="#business-hour-section" class="btn btn-sm btn-outline-secondary">Heures de travail</a>
            <a href="#special-work-hour-section" class="btn btn-sm btn-outline-secondary">Special</a>
        </div>

        {% comment %} <div class="dropdown">
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Actions
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" type="button">Action</button></li>
                <li><button class="dropdown-item" type="button">Another action</button></li>
                <li><button class="dropdown-item" type="button">Something else here</button></li>
            </ul>
        </div> {% endcomment %}
    </div>
</div>    

<section id="calendar-section" class="my-4">
    <div class="nav justify-content-end">
        <div class="nav-item">
            <div id='top' class="form-floating">
                <select class="form-select" id='locale-selector'>
                </select>
                <label for="locale-selector">Langue</label>
            </div>
        </div>
    </div>
    <div class="m-3">
        <div id='calendar'></div>
    <div>
</section>

<section id="business-hour-section">
    <div class="pt-3 pb-2 mb-2 border-bottom">
        <h2><span class="text-primary section-anchor">#</span> Heures de travail</h2>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
        <h4>Global</h4>
        <div class="btn-group me-2">
            {% if not global_business_hour %}
            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Nouveau" onclick="loadStaffBusinessHourForm()">+</a>
            {% else %}
            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Éditer" onclick="loadStaffBusinessHourForm({{ global_business_hour.id }})"><i class="bi bi-pencil"></i></button>
            {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer" onclick="loadDeleteForm('{% url 'globals:staff-business-hour-delete' global_business_hour.id %}')"><i class="bi bi-trash2"></i></button> {% endcomment %}
            {% endif %}
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Label</th>
                    <th scope="col">Heure de début</th>
                    <th scope="col">Heure de fin</th>
                    <th scope="col">Jour-s de la semaine</th>
                    <th scope="col">Pause-s</th>
                </tr>
            </thead>
            <tbody>
                {% for business_hour in global_business_hour.business_hours %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ business_hour.name }}</td>
                    <td>{{ business_hour.start_time }}</td>
                    <td>{{ business_hour.end_time }}</td>
                    <td>
                        {% for day in business_hour.workweek_verbose %}
                            <span class="badge text-bg-light me-1">{{ day }}</span>
                        {% endfor %}
                    </td>
                    <td class="">
                        <button type="button" class="btn btn-sm btn-outline-success me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Nouveau" onclick="loadBusinessHourBreakForm(undefined, {{ business_hour.id }}, undefined, undefined)">
                            +
                        </button>
                        {% if business_hour.break_hours %}
                        <a class="btn btn-sm btn-light collapsed" data-bs-toggle="collapse" href="#collapseGlobal{{ business_hour.reference }}" role="button" aria-expanded="false" aria-controls="collapseADMIN">
                            Heure-s de pause <i class="bi bi-caret-down-fill"></i>
                        </a>
                        
                        <div class="mt-3 collapse" id="collapseGlobal{{ business_hour.reference }}" style="">
                            <div class="card card-body">
                                {% for break_hour in business_hour.break_hours %}
                                <ul class="list-unstyled">
                                    <li>{{ break_hour.name }}
                                        <button type="button" class="btn btn-link text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Éditer" onclick="loadBusinessHourBreakForm({{ break_hour.id }}, {{ business_hour.id }}, undefined, undefined)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-link text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer" onclick="loadDeleteForm('{% url 'globals:business-hour-break-delete' break_hour.id %}')">
                                            <i class="bi bi-trash2"></i>
                                        </button>
                                        <ul>
                                            <li>
                                                De <span class="badge text-bg-light me-1">{{ break_hour.start_time }}</span>
                                                à <span class="badge text-bg-light me-1">{{ break_hour.end_time }}</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center text-danger h4">
                        <i class="bi bi-info-circle-fill"></i> Pas de période de travail globale
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-1 me-2">
        <h4></h4>
        <div class="btn-toolbar mb-md-0">
            <button type="button" class="btn btn-sm btn-success" onclick="loadBusinessHourForm()">+</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Label</th>
                    <th scope="col">Heure de début</th>
                    <th scope="col">Heure de fin</th>
                    <th scope="col">Jour-s de la semaine</th>
                    <th scope="col">Pause-s</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for business_hour in business_hours %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ business_hour.name }}</td>
                    <td>{{ business_hour.start_time }}</td>
                    <td>{{ business_hour.end_time }}</td>
                    <td>
                        {% for business_hour in business_hour.workweek_verbose %}
                            <span class="badge text-bg-light me-1">{{ business_hour }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-outline-success me-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Nouveau" onclick="loadBusinessHourBreakForm(undefined, {{ business_hour.id }}, undefined, undefined)">
                            +
                        </button>
                        {% if business_hour.break_hours %}
                        <a class="btn btn-sm btn-light collapsed" data-bs-toggle="collapse" href="#collapse{{ business_hour.reference }}" role="button" aria-expanded="false" aria-controls="collapseADMIN">
                            Heure-s de pause <i class="bi bi-caret-down-fill"></i>
                        </a>
                        
                        <div class="mt-3 collapse" id="collapse{{ business_hour.reference }}" style="">
                            <div class="card card-body">
                                {% for break_hour in business_hour.break_hours %}
                                <ul class="list-unstyled">
                                    <li>{{ break_hour.name }}  
                                        <button type="button" class="btn btn-link text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Éditer" onclick="loadBusinessHourBreakForm({{ break_hour.id }}, {{ business_hour.id }}, undefined, undefined)">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button type="button" class="btn btn-link text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer" onclick="loadDeleteForm('{% url 'globals:business-hour-break-delete' break_hour.id %}')">
                                            <i class="bi bi-trash2"></i>
                                        </button>
                                        <ul>
                                            <li>
                                                De <span class="badge text-bg-light me-1">{{ break_hour.start_time }}</span>
                                                à <span class="badge text-bg-light me-1">{{ break_hour.end_time }}</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group me-2">
                            <div class="btn-group me-2">
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Éditer" onclick="loadBusinessHourForm({{ business_hour.id }}, undefined, undefined)">
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer" onclick="loadDeleteForm('{% url 'globals:business-hour-delete' business_hour.id %}')">
                                    <i class="bi bi-trash2"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center text-secondary h4">
                        <i class="bi bi-info-circle-fill"></i> Pas d'heure de travail enregistrée
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<script>
    function loadEventForm(objectId, startDate, endDate, startTime, endTime) {
        let url = "{% url 'calendars:event-load-form' %}"

        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": '{{ csrf_token }}'
            },
            body: JSON.stringify({
                object_id: objectId,
                start_date: startDate,
                end_date: endDate,
                start_time: startTime, 
                end_time: endTime
            })
        })
        .then((response) => {
            if (response.ok) {
                return response.text();
            } else {
                throw new Error("Something went wrong");
            }
        })
        .then((html) => {
            console.log("SUCCESS: ", html);
            const modalContent = document.querySelector('#baseFormModal #modalContent');

            modalContent.insertAdjacentHTML("afterend", html);
            modalContent.parentNode.removeChild(modalContent);

            const baseFormModal = new bootstrap.Modal('#baseFormModal', {});
            baseFormModal.show();

            
        })
        .catch((error) => {
            console.log("ERROR: ", error);
        });
    }


    {% comment %} function loadEventForm(objectId=null, startDate=currentDate(), endDate=null, startTime=currentTime(), endTime=null) {

        let url = "{% url 'globals:event-load-form' %}"

        $.ajax({
            url: url,
            type: 'POST',
            headers: { 
                "X-CSRFToken": '{{ csrf_token }}' 
            },
            data: {
                'object_id': objectId,
                'start_date': startDate,
                'end_date': endDate,
                'start_time': startTime,
                'end_time': endTime,
            },
            success: function (data) {
                console.log("SUCCESS!")
                $('#baseFormModal #modalContent').replaceWith(data)
                $('#baseFormModal').modal('show')
            },
            error: function (data) {
                console.log("ERROR: ", data)
            }
        });
    } {% endcomment %}


    function loadBusinessHourForm(objectId=null, startTime='08:30', endTime='17:30') {

        let url = "{% url 'globals:business-hour-load-form' %}"

        console.log('1 * URL', url);
        console.log('1 * objectId', objectId);
        console.log('1 * startTime', startTime);
        console.log('1 * endTime', endTime);

        $.ajax({
            url: url,
            type: 'POST',
            headers: { 
                "X-CSRFToken": '{{ csrf_token }}' 
            },
            data: {
                'object_id': objectId,
                'start_time': startTime,
                'end_time': endTime,
            },
            success: function (data) {
                console.log("SUCCESS!")
                $('#baseFormModal #modalContent').replaceWith(data)
                $('#baseFormModal').modal('show')
            },
            error: function (data) {
                console.log("ERROR: ", data)
            }
        });
    }

    function loadBusinessHourBreakForm(objectId=null, businessHourId=null, startTime='13:00', endTime='14:00') {

        let url = "{% url 'globals:business-hour-break-load-form' %}"

        console.log('1 * URL', url);
        console.log('1 * objectId', objectId);
        console.log('1 * startTime', startTime);
        console.log('1 * endTime', endTime);
        console.log('1 * businessHourId', businessHourId);

        $.ajax({
            url: url,
            type: 'POST',
            headers: { 
                "X-CSRFToken": '{{ csrf_token }}' 
            },
            data: {
                'object_id': objectId,
                'start_time': startTime,
                'end_time': endTime,
                'business_hour_id': businessHourId,
            },
            success: function (data) {
                console.log("SUCCESS!")
                $('#baseFormModal #modalContent').replaceWith(data)
                $('#baseFormModal').modal('show')
            },
            error: function (data) {
                console.log("ERROR: ", data)
            }
        });
    }

    function loadStaffBusinessHourForm(objectId=null) {

        let url = "{% url 'globals:staff-business-hour-load-form' %}"

        console.log('1 * URL', url);
        console.log('1 * objectId', objectId);

        $.ajax({
            url: url,
            type: 'POST',
            headers: { 
                "X-CSRFToken": '{{ csrf_token }}' 
            },
            data: {
                'object_id': objectId,
            },
            success: function (data) {
                console.log("SUCCESS!")
                $('#baseFormModal #modalContent').replaceWith(data)
                $('#baseFormModal').modal('show')
            },
            error: function (data) {
                console.log("ERROR: ", data)
            }
        });
    }
    
    {% comment %} function loadSpecialWorkPeriodForm(objectId=null, startDate=currentDate(), endDate=null) {

        console.log("NOW {% now "Y-m-d H:i" %}, {% now "DATE_FORMAT" %}");

        let url = "{% url 'globals:special-work-period-load-form' %}"

        console.log('1 * URL', url);
        console.log('1 * objectId', objectId);
        console.log('1 * startDate', startDate);
        console.log('1 * endDate', endDate);

        $.ajax({
            url: url,
            type: 'POST',
            headers: { 
                "X-CSRFToken": '{{ csrf_token }}' 
            },
            data: {
                'object_id': objectId,
                'start_date': startDate,
                'end_date': endDate,
            },
            success: function (data) {
                console.log("SUCCESS!")
                $('#baseFormModal #modalContent').replaceWith(data)
                $('#baseFormModal').modal('show')
            },
            error: function (data) {
                console.log("ERROR: ", data)
            }
        });
    }

    function loadStaffSpecialWorkPeriodForm(objectId=null) {

        let url = "{% url 'globals:staff-special-work-period-load-form' %}"

        console.log('1 * URL', url);
        console.log('1 * objectId', objectId);

        $.ajax({
            url: url,
            type: 'POST',
            headers: { 
                "X-CSRFToken": '{{ csrf_token }}' 
            },
            data: {
                'object_id': objectId,
            },
            success: function (data) {
                console.log("SUCCESS!")
                $('#baseFormModal #modalContent').replaceWith(data)
                $('#baseFormModal').modal('show')
            },
            error: function (data) {
                console.log("ERROR: ", data)
            }
        });
    } {% endcomment %}
</script>

{% endblock %}
